.carousel-image {
  height: 910px;
  object-fit: fill;
}

.carousel-control-prev,
.carousel-control-next {
  width: 60px; /* Adjust the width as needed */
  height: 60px; /* Adjust the height as needed */
  font-size: 24px; /* Adjust the font size as needed */
  border-radius: 50%; /* Make the buttons round */
  background-color: rgba(0, 0, 0, 0.5); /* Add a background color */
  border: none; /* Remove the border */
  position: absolute;
  top: 50%; /* Position the buttons vertically centered */
  transform: translateY(-50%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30px; /* Adjust the icon width as needed */
  height: 30px; /* Adjust the icon height as needed */
}

.carousel-control-prev-icon:before,
.carousel-control-next-icon:before {
  content: ""; /* Hide the default content */
}

.carousel-control-prev {
  left: 10px; /* Adjust the left position as needed */
}

.carousel-control-next {
  right: 10px; /* Adjust the right position as needed */
}
